<div class="text-field" style="font-weight: bold;font-size:16px;margin-top:55px;">
  <%= form.label :username,"用户名" %>
  <%= form.text_field :username, :class => "form-control" %>
</div>

<div class="text-field" style="font-weight: bold;font-size:16px;margin-top:5px;">
  <%= form.label :email,"邮箱" %>
  <%= form.text_field :email, type: 'email', :class => "form-control" %>
</div>

<div class="password-field" style="font-weight: bold;font-size:16px;margin-top:5px;">
  <%= form.label :password,"密码" %>
  <%= form.password_field :password, :class => "form-control" %>
</div>

<div class="avatar-field" style="font-weight: bold;font-size:16px;margin-top:5px;">
  <%= form.label :avatar,"上传头像" %>
  <%= form.file_field :avatar, :class => "form-control" %>
</div>