<!DOCTYPE html>
<html>
  <head>
    <title>HudiAirlines</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true%>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">    
        <div class="logo" style="float:left;position:relative;top:15px;font-family:'Times New Roman';font-size: 18px;"><i style="margin-left:-50px;margin-right:10px;color:lightblue;" class="glyphicon glyphicon-plane"></i><a href="/cities">HUDI AIRLINES</a></div>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "首页", cities_path %></li>
            <li><%= link_to "帮助", helps_path %></li>
            <li role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <% if signed_in? %>
                <% if current_user.username? %>
                  <%= current_user.username %><span style="font-size: 14px;"><strong>,&nbsp;</strong></span>
                <% end %>
                <%= current_user.email %>
                <%= image_tag current_user.avatar.url(:medium), :class => "image_class" %>    
              <% end %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <% if signed_in? %>
                  <% if can? :check_city, :update%>
  		              <li><%= link_to "修改密码", edit_password_users_path %></li>
                    <% if can? :avatar, :update%>
                      <li><%= link_to "修改头像", avatar_upload_users_path %></li>
                    <%end%>
                  <%end%>
  		              <li><%= link_to "退出", sign_out_path %></li>
	              <% else %>
	              	<li><%= link_to "登陆", sign_in_path %></li>
	              <% end %>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container" style="margin-top:50px;">
      <% flash.each do |message_type, message| %>
      <div id="alert_flash" class="alert alert-<%= message_type %>" onclick="hide_alert()"><%= message %></div>
      <% end %>
      <%= yield %> 
    </div>
  </body>
</html>

<script type="text/javascript">
  var hide_alert=function(){
    $("#alert_flash").hide();
  }
</script>

<style type="text/css">
  .image_class{
    position: absolute;
    top:5px;
  }
</style>
